body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

.contact-form {
  padding-top: 100px;
}

/* Tambahkan CSS untuk tags <input> dan <textarea> */
.game-list p {
  /* display: inline-block; */
  font-size: 24px;
}
/* Tambahkan CSS untuk contact-submit */
.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}

.a,
.b {
  color: #bdc3c7;
  list-style: none;
}

/* #table_order{
  background-color: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 400px;
} */
